@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #06070c;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
  touch-action: manipulation;
}

#__next,
body {
  height: 100dvh;
  overflow: hidden;
}
